html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 80px 0px 10px 15px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Custom section by trung-vu */

/*** hr - start ***/
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -1em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*** hr - end ***/

/*** circle image - start ***/
.img-circle {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
}
/*** circle image - end ***/

/*** text style for post content - start ***/
.post-content-text {
    color: #4A4A4A;
    font-size: 13pt;
}
/*** text style for post content - end ***/

/*** navbar custom tab - start ***/
.nav-tabs-custom > li > a,
.nav-tabs-custom > li > a:focus {
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #666666;
  /*-webkit-box-shadow: inset 0 -1px 0 #dddddd;*/
  /*box-shadow: inset 0 -1px 0 #dddddd;*/
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-tabs-custom > li > a:hover,
.nav-tabs-custom > li > a:focus:hover {
  background-color: transparent;
  /*-webkit-box-shadow: inset 0 -2px 0 #2196f3;*/
  /*box-shadow: inset 0 -2px 0 #2196f3;*/
  color: #2196f3;
}
.nav-tabs-custom > li.active > a,
.nav-tabs-custom > li.active > a:focus {
  border: none;
  /*-webkit-box-shadow: inset 0 -2px 0 #2196f3;*/
  /*box-shadow: inset 0 -2px 0 #2196f3;*/
  color: #2196f3;
}
.nav-tabs-custom > li.active > a:hover,
.nav-tabs-custom > li.active > a:focus:hover {
  border: none;
  color: #2196f3;
}
.nav-tabs-custom > li.disabled > a {
  -webkit-box-shadow: inset 0 -1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
}
.nav-tabs-custom.nav-justified > li > a,
.nav-tabs-custom.nav-justified > li > a:hover,
.nav-tabs-custom.nav-justified > li > a:focus,
.nav-tabs-custom.nav-justified > .active > a,
.nav-tabs-custom.nav-justified > .active > a:hover,
.nav-tabs-custom.nav-justified > .active > a:focus {
  border: none;
}
.nav-tabs-custom .dropdown-menu {
  margin-top: 0;
}
/*** navbar custom tab - end ***/

/*** TRUNG'S CUSTOMIZATION - Start ***/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*** TRUNG'S CUSTOMIZATION - End ***/
